.header {
	grid-area: header;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.header__top {
	display: flex;
	gap: 20px;
	height: 50px;
}

.header__logo {
	flex: 0 0 20%;
}

.header__search {
	flex: 1;
}

.header__phone {
	flex: 0 0 30%;
}

.header__menu {
	height: 50px;
}

.header__bottom {
	height: 200px;
}

@media screen and (max-width: 630px) {

	.header__top {
		height: auto;
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-areas:
			"logo phone"
			"search search";
	}

	.header__logo {
		height: 50px;
		grid-area: logo;
	}

	.header__search {
		height: 50px;
		grid-area: search;
	}

	.header__phone {
		height: 50px;
		grid-area: phone;
	}
}